@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using FormHelper
@model Entities.Concrete.Address

@{
    ViewData["Title"] = "Adres Ekle";
    var success = ViewBag.Success;
    var message = ViewBag.Message;
    var error = ViewBag.Error;
}


<br />
<h2>Adres Ekle</h2>
<hr />

<form asp-action="Add" method="post" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label class="control-label col-md-3">Mahalle</label>
        <div class="col-md-9">
            <input type="text" asp-for="Mahalle" class="form-control text-info" id="txtMahalle"/>
            <span asp-validation-for="Mahalle" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Cadde</label>
        <div class="col-md-9">
            <input type="text" asp-for="Cadde" class="form-control text-info" id="txtCadde"/>
            <span asp-validation-for="Cadde" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Sokak</label>
        <div class="col-md-9">
            <input type="text" asp-for="Sokak" class="form-control text-info" id="txtSokak"/>
            <span asp-validation-for="Sokak" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">BinaNo</label>
        <div class="col-md-9">
            <input type="text" asp-for="BinaNo" class="form-control text-info" id="txtBinaNo"/>
            <span asp-validation-for="BinaNo" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Kat</label>
        <div class="col-md-9">
            <input type="number" asp-for="Kat" class="form-control text-info" id="txtKat"/>
            <span asp-validation-for="Kat" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">İlçe</label>
        <div class="col-md-9">
            <input type="text" asp-for="İlce" class="form-control text-info" id="txtIlce"/>
            <span asp-validation-for="İlce" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">İl</label>
        <div class="col-md-9">
            <input type="text" asp-for="İl" class="form-control text-info" id="txtIl"/>
            <span asp-validation-for="İl" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Posta Kodu</label>
        <div class="col-md-9">
            <input type="number" asp-for="PostaKodu" class="form-control text-info" id="txtPostakodu"/>
            <span asp-validation-for="PostaKodu" class="text-danger" id="txtKotrol"></span>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-default guncellemebuton" style="margin-left: 5px; border: 2px solid #4db3ff;" id="btnAdd">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                </svg>&nbsp; Adres Ekle
            </button>
        </div>
    </div>
</form>
<p>@error</p>

<a asp-action="Index" class="btn btn-outline-warning mb-2 ml-2" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-skip-backward-btn-fill" viewBox="0 0 16 16">
    <path d="M0 12V4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm11.21-6.907L8.5 7.028V5.5a.5.5 0 0 0-.79-.407L5 7.028V5.5a.5.5 0 0 0-1 0v5a.5.5 0 0 0 1 0V8.972l2.71 1.935a.5.5 0 0 0 .79-.407V8.972l2.71 1.935A.5.5 0 0 0 12 10.5v-5a.5.5 0 0 0-.79-.407z"/>
</svg> Geri Dön</a>





