@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{ Layout = null; }
@* GİRİŞ SAYFASI *@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @*Alert icon için kullandım*@
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
        </symbol>
    </svg>
    @*Buraya kadar*@
    <script>

        $(document).ready(function () {//Alert kapama süresi
            // show the alert
            setTimeout(function () {
                $(".alert").alert('close');
            }, 2000);
        });

    </script>
    <title>Admin Girişi</title>
</head>
<body>


    @{ if (ViewBag.Error != null)
                    {  /*Kullanıcı Adı veya Yanlış şifre girişi*/



        <div class="alert alert-info  alert-dismissible fade show" role="alert" id="success-alert" style="margin-top:5px">
            @*Alert icon eklemek için kullandım*@
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill" /></svg>
            <strong id="passwordError"> @ViewBag.Error</strong>


        </div> } }
    <div class="container-fluid px-3">
        <div class="row min-vh-100">
            <div class="col-md-5 col-lg-6 col-xl-4 px-lg-5 d-flex align-items-center">
                <div class="w-100 py-5">
                    <div class="text-center">
                        <img src="~/dist/img/Bimser-Logo.png" alt="" style="max-width: 175px;" class="img-fluid mb-6 rounded">
                        <h1 class="display-4 mb-3">Yönetici Giriş</h1>
                    </div>
                    <form class="form-validate " form method="post">
                        <div class="form-group">
                            <label>E-mail </label>
                            <input name="Email" type="email" id="txtGirisEmail" placeholder="alisari41@outlook.com" autocomplete="off" required data-msg="Lütfen e-postanızı giriniz." class="form-control">
                        </div>
                        <div class="form-group mb-4">
                            <div class="row">
                                <div class="col">
                                    <label>Şifre</label>
                                </div>

                            </div>
                            <input name="Password" placeholder="Şifre" id="txtGirisPassword" type="password" required data-msg="Lütfen şifrenizi giriniz." class="form-control">
                        </div>

                        <button type="submit" id="btnSingIn" class="btn btn-lg btn-block btn-outline-primary mb-3" style="border: 2px solid blue;">Giriş Yap</button>
                        @*@
                            @*<a href="/Admin/Users/Create" class="btn btn-outline-info" style=" text-decoration: none;">Yönetici paneli ile işiniz bittiyse sitemize dönebilirsiniz.</a>*@
                        <p class="text-center"><small class="text-muted text-center"><a href="/Admin/Users/Register" style="font-weight:bold;text-decoration:none">Henüz bir hesabınız yok mu? Kayıt ol</a>.</small></p>
                    </form>                                                             @*   BURASI  DEĞİŞECEKK    *@
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">
                <div style="background-image: url(https://i.hizliresim.com/IFFxQK.jpg); " class="bg-cover h-100 mr-n3"></div>
            </div>
        </div>
    </div>



</body>
</html>

<style>
    #gelbak:hover {
        color: green;
    }
</style>
